{% include 'layout.html.twig' %}

<h1> {{ article.title }} </h1>
<p> {{ article.content }} </p>
<h2>Коментарии</h2>

{% for comment in comments %}
<h3> {{ comment.title }} </h3>
<p> {{ comment.content }} </p>
{% endfor %}

<form action='/comment/add?id={{ article.getId }}' method="POST">
    <label for="comment">Введите коментарий</label>
    <label>
        <input name="title" placeholder="Название коментария">
    </label>
    <label>
        <input name="content" placeholder="Текст коментария">
    </label>
    <input type=submit value="Добавить коментарий">
</form>
